<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Django Request Meta</title>
</head>
<body>
    <h1>Django Request Meta</h1>
    {% if data %}
   		 Number of items: {{ data|length }}
	{% else %}
   		 No items.
	{% endif %}
    
    <table border="1">
    	<tr>
    	    <th align="left">Key</th>
   			<th align="left">Value</th>
		</tr>
		{% for key, value in data %}
    		<tr>
    		<td>{{ key }}</td>
    		<td> {{ value }}</td>
    		</tr>
		{% endfor %}
    </table>
</body>
</html>
